*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: General Sans;
}
body{
    background-color: rgb(165, 91, 234);
}
#center{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 550px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center h1{
    font-size: 2vw;
    text-align: center;
    font-weight: 900;
} 
